// Responsive for mobile
.online-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: -6px;
    right: -4px;
    border: 2px solid #FFF;
    color: #FFF;
    text-align: center;
    font-size: 12px;
}

@media (max-width: "768px") {
    .dashboard-container {
        position: relative;
        .dashboard-left {
            .dashboard-left-wrapper {
                flex-direction: column;

                .dashboard-left-img {
                    height: 60px;
                    width: 60px;
                }

                .dashboard-left-name {
                    text-align: center;
                    font-size: 16px;
                }

                .dashboard-left-status {
                    text-align: center;
                    font-size: 12px;
                }
            }
        }

        .dashboard-left-message-container {

            .dashboard-left-friend-img {
                height: 40px;
                width: 40px;
            }

            .dashboard-left-friend-name {
                font-size: 10px;
            }

            .dashboard-left-friend-status {
                display: none;
            }

            .online-dot {
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: red;
                position: absolute;
                top: -8px;
                right: -5px;
                border: 2px solid #FFF;
                color: #FFF;
                text-align: center;
                font-size: 12px;
            }
        }


        .dashboard-center {
            width: 75%;
            margin-top: 20px;
            height: 95%;

            .dashboard-center-header {
                width: 90%;
                padding: 0px 25px 0px 20px;

                img {
                    height: 45px;
                    width: 45px;
                }

                .dashboard-center-wrapper {
                    margin-left: 10px;

                    h3 {
                        font-size: 15px;
                    }

                    p {
                        font-size: 12px;
                    }
                }
            }
        }

        .dashboard-friend-list{
            background-color: transparent !important;
            position: absolute;
            left: 100px;
            padding-left: 20px;
            width: calc(100% - 120px);
            height: calc(100% - 92%) !important;

            .dashboard-find-friend-heading{
                display: none;
                margin: 0%;
                padding: 0%;
            }

            .dashboard-right{
                display: flex;
                background-color: transparent;
                padding-top: 12px;
                overflow-x: auto; 
                white-space: nowrap; 
                -ms-overflow-style: none; 
                scrollbar-width: none; 

                &::-webkit-scrollbar {
                    display: none; 
                }

                .dashboard-find-new-friend{
                    display: flex;
                    flex-direction: column !important;
                    padding: 2px 0px;
                    margin: 2px 0px;
                    border: none;

                    .dashboard-find-new-friend-name{
                        font-size: 10px;
                        width: 40px;
                        text-align: center;
                        padding-right: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .dashboard-find-new-friend-status{
                        display: none;
                    }
                }
            }
        }
    }
}